<!-- Header
		============================================= -->
<header id="header" class="full-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="/images/psajtlogo.png"><img src="/images/psajtlogo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="/images/psajtlogo.png"><img src="/images/psajtlogo.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current">
                        <a href="/"><div>Početna</div></a>
                    </li>
                    <li>
                        <a href="/novosti"><div>Novosti</div></a>
                    </li>
                    <li><a href="/psihodelici"><div>Psihodelici</div></a>
                        <ul>
                            <li>
                                <a href="/psihodelici/lsd"><div><i class="icon-stack"></i>LSD</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/pecurke"><div><i class="icon-umbrella"></i>Pečurke</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/dmt"><div><i class="icon-umbrella"></i>DMT</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/meskalin"><div><i class="icon-umbrella"></i>Meskalin</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/mdma"><div><i class="icon-umbrella"></i>MDMA</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/ketamin"><div><i class="icon-umbrella"></i>Ketamin</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/iboga"><div><i class="icon-umbrella"></i>Iboga</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/2cb"><div><i class="icon-umbrella"></i>2-CB</div></a>
                            </li>
                            <li>
                                <a href="/psihodelici/ostalo"><div><i class="icon-umbrella"></i>Ostalo</div></a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/onama"><div>O nama</div></a>
                    </li>
                    <li>
                        <a href="/kontakt"><div>Kontakt</div></a>
                    </li>
                    <li>
                        <a href="/login"><div>Login</div></a>
                    </li>


                </ul>



                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->

