<!DOCTYPE html>
<html lang="en" xmlns:background-image="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Psajt</title>
    <% include partials/scripts.ejs %>
</head>

<body class="stretched dark">
<% include header.ejs %>
<div class="clear"></div>


<!-- Page Title
    ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Psihodelici</h1>
            <span>Below you’ll find an overview of the resources we provide here at Psajt.</span>
    </div>
</section>


<section id="content">

    <div class="content-wrap">

        <div class="container">

            <h1>Psychedelic Guides</h1>
            <p>Below you will find our Ultimate Guides for all major psychedelics. These are comprehensive, long-form guides about various aspects of each major psychedelic, including the history, pharmacology, effects, research, and myths.</p>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/lsd"><img class="rounded-circle center" src="images/upload/lsd-molecule-g.png"  alt=""></a>
                    </div>
                    <h3>LSD</h3>
                    <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-outline fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/pecurke"><img class="rounded-circle center" src="images/upload/psilocybin-molecule-g.png"  alt=""></a>
                    </div>
                    <h3>Pečurke</h3>
                    <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/dmt"><img class="rounded-circle center" src="images/upload/dmt-molecule-g.png"  alt=""></a>
                    </div>
                    <h3>DMT</h3>
                    <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-outline fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/meskalin"><img class="rounded-circle center" src="images/upload/Molecule-Mescaline.png"  alt=""></a>
                    </div>
                    <h3>Meskalin</h3>
                    <p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/mdma"><img class="rounded-circle center" src="images/upload/mdma-molecule-g.png"  alt=""></a>
                    </div>
                    <h3>MDMA</h3>
                    <p>Change the color scheme of the Theme in a flash just by changing the 6-digit HEX code in the colors.php file.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-outline fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/ketamin"><img class="rounded-circle center" src="images/upload/ketamine-g.png"  alt=""></a>
                    </div>
                    <h3>Ketamin</h3>
                    <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/iboga"><img class="rounded-circle center" src="images/upload/ibogaine-molecule-g.png"  alt=""></a>
                    </div>
                    <h3>Iboga</h3>
                    <p>We have included 12+ Header + Menu Designs for your convenience so that you can match your style.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="/psihodelici/2cb"><img class="rounded-circle center" src="images/upload/2c-b-g.png"  alt=""></a>
                    </div>
                    <h3>2cb</h3>
                    <p>Completely Customizable 2 Columns, 3 Columns, 4 Columns &amp; 5 Columns Mega Menus are available with Canvas.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-border fbox-light fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-magnet"></i></a>
                    </div>
                    <h3>Ostalo</h3>
                    <p>Smooth &amp; Stylish Sticky Menu is what will make your Website differentiate with others.</p>
                </div>
            </div>

            <div class="clear"></div>



            <div class="clear"></div>

            <div class="divider"><i class="icon-circle"></i></div>



        </div>



    </div>

</section>

<% include footer.ejs %>

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>

</body>

</html>